/* Override browser defaults */

* {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
  }
  
body, h1, h2, h3 {
    margin: 0;
  }

p {
    margin: 8px 0;
    color: #212121;
}

a {
    text-decoration: none;
}

/* Element selectors */

h1 {
    color: #0288D1;
    font-family: 'Inconsolata', monospace;
    font-size: 2.75rem;
}

h2 {
    color: #0288D1;
    font-family: 'Inconsolata', monospace;
    font-size: 2rem;
}

h3 {
    color: #212121;
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
}

header {
    background-color: #B3E5FC;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
}

main p {
    line-height: 2;
}

hr {
    width: 36px;
    border-width: 5px 0 0;
    border-style: dashed;
    border-color: #BDBDBD;
}

footer {    
    background-color: rgba(189,189,189,0.3);
    color: rgba(117,117,117,0.85);
    display: flex;
    justify-content: center;
}

small {
    font-size: 0.85rem;
}

/* Class selectors */

.header-container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

.header-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-pic {
    margin-top: 40px;
}

.main-container__subheading {
    display: flex;
    align-items: center;
}

.main-container__subheading-icon {
    height: 32px;
    margin-right: 12px;
}

.main-container__btn-container {
    display: flex;
    justify-content: center;
}

.main-container__btn {
    background-color: #B3E5FC;
    border-radius: 4px;
    box-shadow: 0 4px rgba(3,169,244,0.6);
    color: rgba(33,33,33,0.85);
    flex-basis: 450px;
}

.main-container__btn-text-layout {
    align-items: center;
    display: flex;
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
    letter-spacing: 1.7px;
}

.main-container__btn:hover {
    background-color: rgba(179,229,252,0.85);
    box-shadow: 0 4px rgba(3,169,244,0.6);
}

/* Utility classes */

.layout-content-width {
    flex-basis: 660px;
}

.mt-1 {
    margin-top: 16px;
}

.mt-2 {
    margin-top: 24px;
}

.mt-3 {
    margin-top: 32px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-5 {
    margin-top: 48px;
}

.mb-1 {
    margin-bottom: 16px;
}

.mb-2 {
    margin-bottom: 24px;
}

.mb-3 {
    margin-bottom: 32px;
}

.mb-4 {
    margin-bottom: 40px;
}

.mb-5 {
    margin-bottom: 48px;
}

.pad-1 {
    padding: 12px;
}

.pad-2 {
    padding: 16px;
}

.pad-3 {
    padding: 24px;
}

.pad-4 {
    padding: 32px;
}

.pad-5 {
    padding: 40px;
}

/* Responsive design */

@media (max-width: 433px) {
  h1 {
      margin-top: 48px;
  }
  .profile-pic {
      margin-top: 16px;
  }
  .main-container__subheading {
      justify-content: center;
  }
}