/*base color scheme
#a03ac9 #7f3dd3 #553fbc #3d4cd3 #3a6ec9
*/

body {
  background: #553fbc;
  font-family: 'Noto Sans', sans-serif;
}

p {
  font-size: 16px;
}

h1 {
  font-family: 'Bad Script', cursive;
  font-size: 70px;
}

/* This parent can be any width and height */
.block {
  text-align: center;
  height: 100vh;

  /* May want to do this if there is risk the container may be narrower than the element inside */
  /*white-space: nowrap;*/
}

/* The ghost, nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can also be of any width and height */
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 80vmin;
  background: #4375CB;
  padding: 10px;
  color: #221;
  border: 10px solid #3d4cd3;
}

.centered a {
  color: #ddd;
}

.centered a:hover, .centered a:active {
  background: #3d4cd3;
  text-decoration: none;
}

.btn-ring {
  margin-top: 5px;
  margin-bottom: 5px;
  background: #9C8DE2;
  color: #221;
  font-size: 16px;
}

.btn-ring:hover {
  background: #9585E0;
  color: #111;
}

.btn-ring:active {
  background: #8E7CDE;
  color: #111;
}

.form-custom {
  color: #555;
  font-size: 16px;
}
